defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-front
    bind *:80
    default_backend api_cluster

backend api_cluster
    server api1 api-service:8080 check