defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-front
    bind *:80
    http-response set-header X-Server %[srv_name]
    default_backend api_cluster

frontend instance-front
    bind *:8081
    default_backend instance_cluster

backend api_cluster
    balance roundrobin
    server api1 api-service:8080 check

backend instance_cluster
    balance roundrobin
    server instance1 instance-service-1:8080 check
    server instance2 instance-service-2:8080 check

backend net_cluster
    balance roundrobin
    server net1 net-service-1:8080 check
    server net2 net-service-2:8080 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5000ms
